*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body.dark {
    background: #000;
}

/*--- -- Menu -- ---*/

header{
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
}

.header-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px #223c52 double; 
}

body.dark .logo{
    border-bottom: 1px #fff double; 
}

.logo img{
    height: 100px;
    width: auto;
}

.logo .white{
    display: none;
}

body.dark .logo .black{
    display: none;
}

body.dark .logo .white{
    display: block;
}

.menu{
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background: radial-gradient(circle at top right,gray, black, gray);
}

body.dark .menu{
    background: radial-gradient(circle at top right, black, gray, black);
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.menu nav ul li a{
    color: #ffffff;
}

.menu nav ul li a:hover{
    color: rgb(75, 97, 112);
    transition: color 300ms;
}

/*--- -- CUERPO DE LA PAGINA -- ---*/

body.dark .cuerpo h1, 
body.dark .cuerpo h3{
    color: #fff;
}

.cuerpo{
    padding-top: 50px;
    width: 100%;
}

.cuerpo img{
    padding-top: 100px;
    display:block;
    margin:auto;
    width: auto;
}

/*--- -- ANIMACIÓN -- ---*/

.cuerpo .contenedor h1{
    animation-name: title-animation;
    animation-duration: 2s;
}

@keyframes title-animation {
    from{
        margin-top: 100%;
        width: 300%;
    }

    to{
        margin-left: 0;
    }
}

/*--- -- FOOTER -- ---*/

footer{
    position: absolute;
    width: 100%;
}

.content{
    width: 50%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 16px;
}

body.dark footer{
    color: #fff;
}

/*--- -- ANIMACION DE BOTON -- ---*/

.boton .slide:focus,
.boton .slide:hover{
    color: #fff;
    transition: .5s ease-out all;
    box-shadow:inset 18.3em 0 0 0 var(--hover)
}

.boton .slide{
    --color:#d6d6d6;--hover:#000
}

/*--- -- BOTON PARA IR HACIA A ARRIBA -- ---*/

#button-up{
    width: 60px;
    height: 60px;
    background: radial-gradient(circle at top, black, gray);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    position: fixed;
    bottom: 50px;
    right: 50px;
    cursor: pointer; 
    transition: all 300ms ease;
    transform: scale(0);
}

body.dark #button-up{
    background: radial-gradient(circle at top, #fff, #585858);
}

#button-up:hover{
    transform: scale(1.1);
    border-color: rgba(0, 0, 0, .1);
    background: radial-gradient(circle at top, gray, black);
}

body.dark #button-up:hover{
    background: radial-gradient(circle at top, #585858, #fff);
}

/* * ===================== */
/* * ====== SWITCH ======= */
/* * ===================== */

#button-dark{
    width: 75px;
    height: 40px;
    background: #343d5b;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border-radius: 0 50px 50px 0;
    font-size: 20px;
    position: fixed;
    top: 20px;
}

.switch {
    background: #343d5b;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none;
}

.switch::after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    background: #f1f1f1;
    top: 0;
    left: 0;
    right: unset;
    border-radius: 100px;
    transition: .3s ease all;
    box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.switch.active {
    background: orange;
    color: black;
}

.switch.active::after {
    right: 0;
    left: unset;
}

.switch span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    background: none;
    color: #fff;
}

/*--- -- Aqui empieza el Responsive -- ---*/

@media screen and (max-width: 1583px){
    .contenedor-img img{
        height: 600px;
        width: 1420px;
    }
}

@media screen and (max-width: 1430px){
    .contenedor-img img{
        height: 550px;
        width: 1320px;
    }
}

@media screen and (max-width: 1340px){
    .contenedor-img img{
        height: 550px;
        width: 1220px;
    }
}

@media screen and (max-width: 1230px){
    .contenedor-img img{
        height: 550px;
        width: 1120px;
    }
}

@media screen and (max-width: 1130px){
    .contenedor-img img{
        height: 500px;
        width: 1020px;
    }
}

@media screen and (max-width: 1030px){
    .header-content{
        width: 60%;
    }

    .contenedor-img img{
        height: 480px;
        width: 900px;
    }

    .content{
        width: 80%;
    }
}

@media screen and (max-width: 910px){
    .contenedor-img img{
        height: 460px;
        width: 800px;
    }

    .contenedor .display-1{
        font-size: 45px;
    }
}

@media screen and (max-width: 810px){
    .contenedor-img img{
        height: 400px;
        width: 700px;
    }
}

@media screen and (max-width: 710px){
    .header-content{
        width: 70%;
    }
    
    .contenedor-img img{
        height: 350px;
        width: 600px;
    }

    .content{
        width: 90%;
    }

    .contenedor .display-1{
        font-size: 35px;
    }

    .contenedor h1{
        font-size: 30px;
    }

    .contenedor h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 610px){
    .contenedor-img img{
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 510px){
    .header-content{
        width: 80%;
    }

    .contenedor{
        width: 75%;
    }

    .contenedor-img img{
        margin-top: -50px;
        height: 250px;
        width: 400px;
    }

    .content{
        width: 98%;
    }
}

@media screen and (max-width: 410px){
    .contenedor-img img{
        height: 200px;
        width: 340px;
    }
}