*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Helvetica'; 
}

/*Menu*/

header{
    top: 0%;
    left: 0%;
    width: 100%;
    height: auto;
}

.header-content{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.logo{
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px rgb(34, 60, 82) double; 
}

.logo img{
    height: 100px;
}

.menu{
    margin-top: 10px;
    height: 30px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgb(59, 55, 55);
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
}

.menu nav ul li a{
    color: #ffffff;
}

.menu nav ul li a:hover{
    color: rgb(112, 198, 255);
    transition: color 300ms;
}

.cuerpo{
    padding-top: 50px;
    width: 100%;
}

.titulares{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.titulares h1{
    margin-top: 70px;
    font-size: 60px;
}

.titulares h2{
    margin-top: 20px;
    font-size: 30px;
}

.titulares p{
    margin-top: 40px;
    font-size: 26px;
}

.cuerpo img{
    padding-top: 100px;
    display:block;
    margin:auto;
}

.footer{
    position: absolute;
    width: 100%;
}

.content{
    width: 50%;
    margin-top: 100px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/*--- -- Aqui empieza el Responsive -- ---*/

@media screen and (max-width: 1583px){
    .cuerpo img{
        height: 600px;
        width: 1420px;
    }
}

@media screen and (max-width: 1430px){
    .cuerpo img{
        height: 550px;
        width: 1320px;
    }
}

@media screen and (max-width: 1340px){
    .cuerpo img{
        height: 550px;
        width: 1220px;
    }
}

@media screen and (max-width: 1230px){
    .cuerpo img{
        height: 550px;
        width: 1120px;
    }
}

@media screen and (max-width: 1130px){
    .cuerpo img{
        height: 500px;
        width: 1020px;
    }
}

@media screen and (max-width: 1030px){
    .header-content{
        width: 60%;
    }

    .cuerpo img{
        height: 480px;
        width: 900px;
    }

    .content{
        width: 80%;
    }
}

@media screen and (max-width: 910px){
    .cuerpo img{
        height: 460px;
        width: 800px;
    }
}

@media screen and (max-width: 810px){
    .cuerpo img{
        height: 400px;
        width: 700px;
    }
}

@media screen and (max-width: 710px){
    .header-content{
        width: 70%;
    }
    
    .cuerpo img{
        height: 350px;
        width: 600px;
    }

    .content{
        width: 90%;
    }
}

@media screen and (max-width: 610px){
    .titulares{
        width: 60%;
    }

    .titulares h1{
        font-size: 50px;
    }

    .titulares h2{
        font-size: 25px;
    }

    .titulares p{
        font-size: 20px;
    }

    .cuerpo img{
        height: 300px;
        width: 500px;
    }
}

@media screen and (max-width: 510px){
    .header-content{
        width: 80%;
    }

    .titulares{
        width: 65%;
    }

    .titulares h1{
        margin-top: 10px;
        font-size: 40px;
    }

    .titulares h2{
        font-size: 20px;
    }

    .titulares p{
        font-size: 18px;
    }

    .cuerpo img{
        margin-top: -50px;
        height: 250px;
        width: 400px;
    }

    .content{
        width: 98%;
    }
}

@media screen and (max-width: 410px){
    .titulares{
        width: 70%;
    }

    .titulares h1{
        font-size: 35px;
    }

    .titulares h2{
        font-size: 18px;
    }

    .titulares p{
        font-size: 16px;
    }

    .cuerpo img{
        height: 200px;
        width: 340px;
    }
}