.cuerpo{
    margin-top: 50px;
    text-align: center;
}

/*--- -- Primera caja -- ---*/

.caja-1{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.caja-1 img{
    display: flex;
}

.txt{
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
}

.txt p{
    text-align: left;
    font-size: 15px;
}

/*--- -- Segunda caja -- ---*/

.caja-2{
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding: 0 50px;
}

.caja-2 p{
    font-size: 16px;
}

.boton{
    width: 50%;
}

.boton button{
    background: #fff;
    border-color: #000000;
    color: #000000;
    height: 50px;
    width: 100%;
}

/*--- -- Cambio de color del boton -- ---*/

.boton button:hover{
    color: #fff;
    background-color: #000000;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.527);
    transition: .3s ease-out all;
}

.footer{
    background: #fff;
}

/*--- -- FLECHAS -- ---*/

.separador{
    width: 100%;
    margin: 0 auto;
}

.separador img{
    width: 100%;
    height: 110px;
}

.flechas{
    width: 4%;
    float: left;
    margin-top: 34px;
    height: auto;
}

.flechas img{
    width: 20px;
    padding-top: 0;
    margin-bottom: 35px;
}

.flecha-txt{
    width: 95%;
    float: right;
    margin-top: 27px;
    margin-bottom: 100px;
}

/*--- -- RESPONSIVE -- ---*/

@media screen and (max-width: 1280px) {
    .cuerpo .contenedor-small{
        width: 65%;
    }

    .caja-1 img{
        height: 600px;
    }
}

@media screen and (max-width: 990px) {
    .cuerpo .contenedor-small{
        width: 80%;
    }
}

@media screen and (max-width: 800px) {
    .cuerpo .contenedor-small{
        width: 85%;
    }

    .boton{
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .cuerpo .contenedor-small{
        width: 100%;
    }

    .boton{
        width: 100%;
    }
}

@media screen and (max-width: 590px) {
    .cuerpo .contenedor-small{
        padding: 10px;
    }

    .caja-2{
        padding: 0;
    }

    .caja-1 .txt{
        padding: 0px;
    }

    .caja-1 img{
        height: 500px;
        padding-bottom: 70px;
    }

    .flecha-txt{
        width: 90%;
    }
}