/*--- -- CUERPO DE LA PAGINA -- ---*/

.caja{
    width: 60%;
    height: auto;
    margin: 80px auto;
    margin-bottom: 0;
    display: flex;
}

/*--- -- CAJAS DE PRODUCTOS -- ---*/
.caja-producto{
    background: #fff;
    width: 100%;
    margin: 8px auto;
    padding-bottom: 10px;
    -webkit-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 1px 2px 4px rgba(0,0,0,.5);
    box-shadow: 1px 2px 4px rgba(0,0,0,.5);
}

.imgProducto img{
    height: 309px;
    display:block;
    margin:auto;
}

.producto{
    position: relative;
    height: 86%;
}

.name{
    background-color: #fff;
    position: absolute;
    left: 10px;
    top: 266px;
    width: 50%;
    height: 42px;
}

.text{
    padding-top: 42px;
    padding-bottom: 20px;
    margin: 8px;
}

.precio{
    width: 50%;
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

.precio p{
    padding-top: 10px;
    padding-bottom: 10px;
}

.precio h3{
    color: #34b4cc;
    font-size: 26px;
}

.boton{
    width: 50%;
    float: right;
    text-align: right;
    padding-top: 0px;
    padding-right: 10px;
    margin-top: 37px;
}

.boton button{
    height: 45px;
    width: 100%;
    color: #fff;
    background: #34b4cc;
    border-color: #34b4cc;
}

.boton button:hover{
    color: rgb(0, 187, 187);
    background-color: #ffffff;
}

/*--- -- Aqui empieza el Responsive -- ---*/

@media screen and (max-width: 1770px){
    .caja{
        width: 65%;
    }
}  

@media screen and (max-width: 1330px){
    .caja{
        width: 75%;
    }

    .imgProducto img{
        height: 250px;
    }

    .name{
        top: 206px;
    }
}

@media screen and (max-width: 1180px){
    .caja{
        width: 80%;
    }

    .name{
        width: 65%;
        font-size: 17px;
    }
}

@media screen and (max-width: 992px){
    .caja{
        width: 70%;
    }
}

@media screen and (max-width: 870px){
    .caja{
        width: 75%;
    }
}

@media screen and (max-width: 750px){
    .caja{
        width: 80%;
    }
}  

@media screen and (max-width: 630px){
    .caja{
        width: 90%;
    }
}   

@media screen and (max-width: 576px){
    .caja{
        width: 60%;
    }
}

@media screen and (max-width: 460px){
    .caja{
        width: 70%;
    }
}

@media screen and (max-width: 380px){
    .caja{
        width: 80%;
    }
}